Repository valters-tomsons/spectabis-next: changes, and which Azure pipelines are due for each by the changed paths.
All: AzurePipelines/build-platform-binary.yaml, azure-pipelines-service.yml, azure-pipelines.yml

AzurePipelines/build-platform-binary.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: 'echo "##vso[task.setvariable variable=CommithHash]$(git log --pretty=format:''%h'' -n 1)"
  
      '
  - script: mkdir $ARTIFACTSFOLDER
  - task: UseDotNet@2
    displayName: Install Dotnet SDK
    inputs:
      packageType: sdk
      version: 3.1.101
  ...

azure-pipelines-service.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: mkdir $ARTIFACTSFOLDER
  - task: UseDotNet@2
    inputs:
      packageType: sdk
      version: 3.1.101
  - script: dotnet publish src/SpectabisService -c $CONFIGURATION -r linux-x64 -o $ARTIFACTSFOLDER
    displayName: build service
  - task: ArchiveFiles@2
  ...

azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Bash@3
    displayName: Initialize pipeline
    inputs:
      targetType: inline
      script: 'echo "##vso[task.setvariable variable=CommithHash]$(git log --pretty=format:''%h'' -n 1)"
  
        mkdir $ARTIFACTSFOLDER
  
        '
  - task: UseDotNet@2
  ...

Rename to AzureStorageProvider
  src/SpectabisService/Abstractions/AzureStorageProvider.cs
  src/SpectabisService/Startup.cs
Due: azure-pipelines-service.yml

Update README.md
  README.md
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Update service to .net core 3.1
  README.md
  src/SpectabisService/SpectabisService.csproj
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines-service.yml, azure-pipelines.yml

Add Webhook for github release
  src/SpectabisService/Endpoints/GithubReleaseWebhook.cs
  src/SpectabisService/appsettings.json
Due: azure-pipelines-service.yml

Update README
  README.md
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Add NativeBridge draft
  .vscode/launch.json
  ThirdParty/libLilyPad-0.11.0.so
  ThirdParty/lilypad.func
  spectabis-next.sln
  src/NativeBridge/IPCSX2Plugin.cs
  src/NativeBridge/NativeBridge.csproj
  src/NativeBridge/Plugins/LilyPad.cs
  src/NativeBridge/ThirdParty/libLilyPad-0.11.0.so
  src/NativeBridge/ThirdParty/lilypad.func
  src/SpectabisNext/Pages/GameLibrary.xaml.cs
  src/SpectabisNext/SpectabisNext.csproj
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Move AvaloniaGif to SpectabisUI
  spectabis-next.sln
  src/AvaloniaGif/AvaloniaGif.csproj
  src/SpectabisNext/SpectabisNext.csproj
  src/SpectabisUI/AvaloniaGif/BgWorkerCommand.cs
  src/SpectabisUI/AvaloniaGif/BgWorkerState.cs
  src/SpectabisUI/AvaloniaGif/Caching/CacheBuilder.cs
  src/SpectabisUI/AvaloniaGif/Caching/CacheBuilderBase.cs
  src/SpectabisUI/AvaloniaGif/Caching/CacheImpl.cs
  src/SpectabisUI/AvaloniaGif/Caching/Caches.cs
  src/SpectabisUI/AvaloniaGif/Caching/ICache`2.cs
  src/SpectabisUI/AvaloniaGif/Caching/XXHash.cs
  src/SpectabisUI/AvaloniaGif/Decoding/BlockTypes.cs
  src/SpectabisUI/AvaloniaGif/Decoding/ExtensionType.cs
  src/SpectabisUI/AvaloniaGif/Decoding/FrameDisposal.cs
  src/SpectabisUI/AvaloniaGif/Decoding/GifColor.cs
  src/SpectabisUI/AvaloniaGif/Decoding/GifDecoder.cs
  src/SpectabisUI/AvaloniaGif/Decoding/GifFrame.cs
  src/SpectabisUI/AvaloniaGif/Decoding/GifHeader.cs
  src/SpectabisUI/AvaloniaGif/Decoding/GifRect.cs
  src/SpectabisUI/AvaloniaGif/Decoding/GifRepeatBehavior.cs
  src/SpectabisUI/AvaloniaGif/Decoding/InvalidGifStreamException.cs
  src/SpectabisUI/AvaloniaGif/Decoding/LzwDecompressionException.cs
  src/SpectabisUI/AvaloniaGif/Extensions/StreamExtensions.cs
  src/SpectabisUI/AvaloniaGif/GifBackgroundWorker.cs
  src/SpectabisUI/AvaloniaGif/GifImage.cs
  src/SpectabisUI/AvaloniaGif/GifInstance.cs
  src/SpectabisUI/AvaloniaGif/InvalidGifStreamException.cs
  src/SpectabisUI/SpectabisUI.csproj
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Derive AvaloniaGif to SpectabisUI.AnimatedImage
  src/SpectabisNext/Services/GifProvider.cs
  src/SpectabisUI/AnimatedImage/BgWorkerCommand.cs
  src/SpectabisUI/AnimatedImage/BgWorkerState.cs
  src/SpectabisUI/AnimatedImage/Caching/CacheBuilder.cs
  src/SpectabisUI/AnimatedImage/Caching/CacheBuilderBase.cs
  src/SpectabisUI/AnimatedImage/Caching/CacheImpl.cs
  src/SpectabisUI/AnimatedImage/Caching/Caches.cs
  src/SpectabisUI/AnimatedImage/Caching/ICache`2.cs
  src/SpectabisUI/AnimatedImage/Caching/XXHash.cs
  src/SpectabisUI/AnimatedImage/Decoding/BlockTypes.cs
  src/SpectabisUI/AnimatedImage/Decoding/ExtensionType.cs
  src/SpectabisUI/AnimatedImage/Decoding/FrameDisposal.cs
  src/SpectabisUI/AnimatedImage/Decoding/GifColor.cs
  src/SpectabisUI/AnimatedImage/Decoding/GifDecoder.cs
  src/SpectabisUI/AnimatedImage/Decoding/GifFrame.cs
  src/SpectabisUI/AnimatedImage/Decoding/GifHeader.cs
  src/SpectabisUI/AnimatedImage/Decoding/GifRect.cs
  src/SpectabisUI/AnimatedImage/Decoding/GifRepeatBehavior.cs
  src/SpectabisUI/AnimatedImage/Decoding/InvalidGifStreamException.cs
  src/SpectabisUI/AnimatedImage/Decoding/LzwDecompressionException.cs
  src/SpectabisUI/AnimatedImage/Extensions/StreamExtensions.cs
  src/SpectabisUI/AnimatedImage/GifBackgroundWorker.cs
  src/SpectabisUI/AnimatedImage/GifImage.cs
  src/SpectabisUI/AnimatedImage/GifInstance.cs
  src/SpectabisUI/AnimatedImage/InvalidGifStreamException.cs
  src/SpectabisUI/AnimatedImage/LICENSE
  src/SpectabisUI/AnimatedImage/README.md
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Update path to AvaloniaGif readme
  README.md
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Rename to GameArtQueue
  src/SpectabisLib/Interfaces/IArtServiceQueue.cs
  src/SpectabisLib/Services/GameArtQueue.cs
  src/SpectabisNext/ComponentConfiguration/ContainerConfiguration.cs
  src/SpectabisNext/Pages/CreateProfile.xaml.cs
  src/SpectabisNext/Pages/GameLibrary.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines-service.yml, azure-pipelines.yml

Move strings to Constants
  src/SpectabisLib/Constants.cs
  src/SpectabisLib/Services/GameDatabaseProvider.cs
  src/SpectabisLib/Services/ProfileFileSystem.cs
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines-service.yml, azure-pipelines.yml

Add extension query to IntinsicsProvider
  src/FileIntrinsics/Interfaces/IIntrinsicsProvider.cs
  src/FileIntrinsics/IntrinsicsProvider.cs
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Add scan directories to config struct
  src/SpectabisLib/Configuration/DirectoryStruct.cs
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines-service.yml, azure-pipelines.yml

Log when writing configuration
  src/SpectabisNext/Services/ConfigurationLoader.cs
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Add directory scanner
  src/SpectabisLib/Configuration/DirectoryStruct.cs
  src/SpectabisLib/Interfaces/IDirectoryScan.cs
  src/SpectabisLib/Services/GameDirectoryScan.cs
  src/SpectabisNext/ComponentConfiguration/ContainerConfiguration.cs
  src/SpectabisNext/Pages/GameLibrary.xaml.cs
  src/SpectabisNext/Pages/Settings.xaml
  src/SpectabisNext/Pages/Settings.xaml.cs
  src/SpectabisNext/ViewModels/SettingsViewModel.cs
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines-service.yml, azure-pipelines.yml

Initial Commit
  src/SpectabisNext/ComponentConfiguration/ContainerConfiguration.cs
  src/SpectabisNext/Pages/GameLibrary.xaml.cs
  src/SpectabisNext/Services/ToastService.cs
  src/SpectabisNext/Views/MainWindow.xaml
  src/SpectabisNext/Views/MainWindow.xaml.cs
  src/SpectabisUI/Interfaces/INotificationService.cs
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Move UI library
  src/SpectabisNext/ComponentConfiguration/ContainerConfiguration.cs
  src/SpectabisNext/Repositories/PageRepository.cs
  src/SpectabisNext/Services/PageNavigator.cs
  src/SpectabisNext/Services/PagePreloader.cs
  src/SpectabisNext/Spectabis.cs
  src/SpectabisUI/Controls/GameTileView/GameTileView.xaml
  src/SpectabisUI/Controls/GameTileView/GameTileView.xaml.cs
  src/SpectabisUI/Controls/PageIcon/PageIcon.xaml
  src/SpectabisUI/Controls/PageIcon/PageIcon.xaml.cs
  src/SpectabisUI/Factories/GameTileFactory.cs
  src/SpectabisUI/Factories/NavigationBarItemFactory.cs
  src/SpectabisUI/Factories/PageFactory.cs
  src/SpectabisUI/Pages/CreateProfile.xaml
  src/SpectabisUI/Pages/CreateProfile.xaml.cs
  src/SpectabisUI/Pages/FirstTimeWizard.xaml
  src/SpectabisUI/Pages/FirstTimeWizard.xaml.cs
  src/SpectabisUI/Pages/GameLibrary.xaml
  src/SpectabisUI/Pages/GameLibrary.xaml.cs
  src/SpectabisUI/Pages/GameRunning.xaml
  src/SpectabisUI/Pages/GameRunning.xaml.cs
  src/SpectabisUI/Pages/Settings.xaml
  src/SpectabisUI/Pages/Settings.xaml.cs
  src/SpectabisUI/SpectabisUI.csproj
  src/SpectabisUI/ViewModels/CreateProfileViewModel.cs
  src/SpectabisUI/ViewModels/FirstTimeWizardViewModel.cs
  src/SpectabisUI/ViewModels/GameLibraryViewModel.cs
  src/SpectabisUI/ViewModels/SettingsViewModel.cs
  src/SpectabisUI/Views/MainWindow.xaml
  src/SpectabisUI/Views/MainWindow.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Move AnimatedImage to Controls namespace
  README.md
  src/SpectabisNext/Services/GifProvider.cs
  src/SpectabisUI/Controls/AnimatedImage/BgWorkerCommand.cs
  src/SpectabisUI/Controls/AnimatedImage/BgWorkerState.cs
  src/SpectabisUI/Controls/AnimatedImage/Caching/CacheBuilder.cs
  src/SpectabisUI/Controls/AnimatedImage/Caching/CacheBuilderBase.cs
  src/SpectabisUI/Controls/AnimatedImage/Caching/CacheImpl.cs
  src/SpectabisUI/Controls/AnimatedImage/Caching/Caches.cs
  src/SpectabisUI/Controls/AnimatedImage/Caching/ICache`2.cs
  src/SpectabisUI/Controls/AnimatedImage/Caching/XXHash.cs
  src/SpectabisUI/Controls/AnimatedImage/Decoding/BlockTypes.cs
  src/SpectabisUI/Controls/AnimatedImage/Decoding/ExtensionType.cs
  src/SpectabisUI/Controls/AnimatedImage/Decoding/FrameDisposal.cs
  src/SpectabisUI/Controls/AnimatedImage/Decoding/GifColor.cs
  src/SpectabisUI/Controls/AnimatedImage/Decoding/GifDecoder.cs
  src/SpectabisUI/Controls/AnimatedImage/Decoding/GifFrame.cs
  src/SpectabisUI/Controls/AnimatedImage/Decoding/GifHeader.cs
  src/SpectabisUI/Controls/AnimatedImage/Decoding/GifRect.cs
  src/SpectabisUI/Controls/AnimatedImage/Decoding/GifRepeatBehavior.cs
  src/SpectabisUI/Controls/AnimatedImage/Decoding/InvalidGifStreamException.cs
  src/SpectabisUI/Controls/AnimatedImage/Decoding/LzwDecompressionException.cs
  src/SpectabisUI/Controls/AnimatedImage/Extensions/StreamExtensions.cs
  src/SpectabisUI/Controls/AnimatedImage/GifBackgroundWorker.cs
  src/SpectabisUI/Controls/AnimatedImage/GifImage.cs
  src/SpectabisUI/Controls/AnimatedImage/GifInstance.cs
  src/SpectabisUI/Controls/AnimatedImage/InvalidGifStreamException.cs
  src/SpectabisUI/Controls/AnimatedImage/LICENSE
  src/SpectabisUI/Controls/AnimatedImage/README.md
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Rename to AutoFacConfiguration
  src/SpectabisNext/ComponentConfiguration/AutoFacConfiguration.cs
  src/SpectabisNext/Program.cs
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Remove test project
  spectabis-next.sln
  src/SpectabisTests/CoreLibraryTest/CoreLibraryTest.csproj
  src/SpectabisTests/CoreLibraryTest/Helpers/OptionsParserChecker.cs
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Add integration test
  Tests/ServiceTests/Integration/GetGameBoxArtTest.cs
  Tests/ServiceTests/ServiceTests.csproj
  spectabis-next.sln
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Move gameart logic to provider
  src/SpectabisService/Endpoints/GetGameBoxArt.cs
  src/SpectabisService/Providers/GameArtProvider.cs
  src/SpectabisService/Providers/Interfaces/IGameArtProvider.cs
Due: azure-pipelines-service.yml

Add art provider to DI
  src/SpectabisService/Startup.cs
Due: azure-pipelines-service.yml

Service refactorings
  Tests/ServiceTests/ServiceTests.csproj
  Tests/ServiceTests/Units/Providers/GameArtProviderTests.cs
  src/SpectabisLib/Interfaces/IGameDatabaseProvider.cs
  src/SpectabisLib/Services/LocalDatabaseProvider.cs
  src/SpectabisNext/ComponentConfiguration/AutoFacConfiguration.cs
  src/SpectabisService/Endpoints/GetGameMetadataBySerial.cs
  src/SpectabisService/Providers/GameArtProvider.cs
  src/SpectabisService/Services/CloudDatabaseProvider.cs
  src/SpectabisService/Services/ContentDownloader.cs
  src/SpectabisService/Services/Interfaces/IContentDownloader.cs
  src/SpectabisService/Startup.cs
  src/SpectabisUI/Pages/CreateProfile.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines-service.yml, azure-pipelines.yml

Remove unused test
  Tests/ServiceTests/Units/Providers/GameArtProviderTests.cs
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Reuse RestClient in integration tests
  Tests/ServiceTests/Integration/GetGameBoxArtTest.cs
  src/ServiceClient/Interfaces/IRestClient.cs
  src/ServiceClient/Services/RestClient.cs
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Cleanup
  src/ServiceClient/Models/RestResponse.cs
  src/ServiceClient/Services/RestClient.cs
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Update task to netcore 3.1
  src/SpectabisService/.vscode/tasks.json
Due: azure-pipelines-service.yml

Update test with variables
  Tests/ServiceTests/Integration/GetGameBoxArtTest.cs
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Add service infastructure deployment
  Infastructure/ServiceFunctionApp.json
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Add telemetry deployment
  Infastructure/DesktopTelemetry.json
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Fix warnings
  Infastructure/DesktopTelemetry.json
  Infastructure/ServiceFunctionApp.json
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Parameterize service base url
  Scripts/InsertSecretsInSource.ps1
  Tests/ServiceTests/Integration/GetGameBoxArtTest.cs
  src/ServiceClient/Helpers/ServiceCredentialsHelper.cs
  src/ServiceClient/Services/SpectabisClient.cs
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Add guide for running service locally
  docs/run-service-locally.md
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Add SERVICE_BASE_URL from pipeline
  azure-pipelines.yml
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Change ServiceApiKey to SERVICE_API_KEY
  Tests/ServiceTests/Integration/GetGameBoxArtTest.cs
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Path conditions:
  AzurePipelines/build-platform-binary.yaml: any file but: src/SpectabisService
  azure-pipelines-service.yml: any of: src/SpectabisService, src/SpectabisLib
  azure-pipelines.yml: any file but: src/SpectabisService
