Repository valters-tomsons/spectabis-next: changes, and which Azure pipelines are due for each by the changed paths.
All: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

AzurePipelines/build-platform-binary.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: 'echo "##vso[task.setvariable variable=CommithHash]$(git log --pretty=format:''%h'' -n 1)"
  
      '
  - script: mkdir $ARTIFACTSFOLDER
  - task: UseDotNet@2
    displayName: Install Dotnet SDK
    inputs:
      packageType: sdk
      version: 3.1.101
  ...

Pipelines/azure-pr-ci.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: UseDotNet@2
    inputs:
      packageType: sdk
      version: 3.1.101
  - script: dotnet build
    displayName: Build solution
  - script: dotnet test Tests/Unit/*
    displayName: Run unit tests

azure-pipelines-service.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: mkdir $(ARTIFACTSFOLDER)
  - task: UseDotNet@2
    inputs:
      packageType: sdk
      version: 3.1.101
  - script: dotnet publish src/SpectabisService -c $(CONFIGURATION) -r linux-x64 -o $(ServiceArtifact)
    displayName: Build Service Package
  ...

azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Bash@3
    displayName: Initialize pipeline
    inputs:
      targetType: inline
      script: 'echo "##vso[task.setvariable variable=CommithHash]$(git log --pretty=format:''%h'' -n 1)"
  
        mkdir $ARTIFACTSFOLDER
  
        '
  - task: UseDotNet@2
  ...

Add attach to service launch.json
  src/SpectabisService/.vscode/launch.json
Due: Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml

Minor tweaks for file system abstraction
  src/SpectabisLib/Interfaces/IProfileRepository.cs
  src/SpectabisLib/Repositories/GameProfileRepository.cs
  src/SpectabisLib/Services/GameLauncherPCSX2.cs
  src/SpectabisLib/Services/ProfileFileSystem.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Fix crash when discord is enabled but not running
  src/SpectabisNext/Services/DiscordService.cs
  src/SpectabisNext/SpectabisNext.csproj
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Update SpectabisNext to NET 5.0
  src/EmuConfig/EmuConfig.csproj
  src/FileIntrinsics/FileIntrinsics.csproj
  src/RomParsing/Parsers/IsoParser.cs
  src/RomParsing/RomParsing.csproj
  src/SpectabisNext/SpectabisNext.csproj
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Add integration test for content length
  Tests/Integration/ServiceTests/GetGameBoxArtTest.cs
  Tests/Integration/ServiceTests/ServiceTests.csproj
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml

Add script to download PCSX2 game database csv
  Scripts/DownloadGameDatabase.ps1
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Update README versions
  README.md
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Update launch.json with NET 5.0
  .vscode/launch.json
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Add CHD signatures
  src/FileIntrinsics/Enums/GameFileType.cs
  src/FileIntrinsics/Signatures/CHD_CD.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Implement automatic signature enumeration
  src/FileIntrinsics/IntrinsicsProvider.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Move ProfileFileSystem to abstractions
  src/SpectabisLib/Abstractions/ProfileFileSystem.cs
  src/SpectabisLib/Repositories/GameProfileRepository.cs
  src/SpectabisLib/Services/GameArtQueue.cs
  src/SpectabisLib/Services/GameLauncherPCSX2.cs
  src/SpectabisNext/ComponentConfiguration/AutoFacConfiguration.cs
  src/SpectabisNext/Services/BitmapLoader.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Refactor profile file system
  src/SpectabisLib/Abstractions/ProfileFileSystem.cs
  src/SpectabisLib/Repositories/GameProfileRepository.cs
  src/SpectabisLib/Services/GameArtQueue.cs
  src/SpectabisLib/Services/GameLauncherPCSX2.cs
  src/SpectabisNext/Services/BitmapLoader.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Rename method to reflect container existance
  src/SpectabisLib/Abstractions/ProfileFileSystem.cs
  src/SpectabisLib/Repositories/GameProfileRepository.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Move some logic to game library controller
  src/SpectabisLib/Abstractions/ProfileFileSystem.cs
  src/SpectabisLib/Interfaces/Controllers/IGameLibraryController.cs
  src/SpectabisNext/ComponentConfiguration/AutoFacConfiguration.cs
  src/SpectabisUI/Controllers/GameLibraryController.cs
  src/SpectabisUI/Pages/GameLibrary.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Remove view dependency on repository
  src/SpectabisLib/Interfaces/Controllers/IGameLibraryController.cs
  src/SpectabisUI/Controllers/GameLibraryController.cs
  src/SpectabisUI/Pages/GameLibrary.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Remove game library viewmodel
  src/SpectabisUI/Pages/GameLibrary.xaml.cs
  src/SpectabisUI/ViewModels/GameLibraryViewModel.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Implement global ini configuration
  src/SpectabisLib/Abstractions/ProfileFileSystem.cs
  src/SpectabisLib/Interfaces/Controllers/IFirstTimeWizardService.cs
  src/SpectabisUI/Controllers/FirstTimeWizardController.cs
  src/SpectabisUI/Pages/FirstTimeWizard.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Fix various compiler warnings
  src/ServiceLib/Services/RestClient.cs
  src/SpectabisNext/Program.cs
  src/SpectabisNext/Services/BitmapLoader.cs
  src/SpectabisNext/Services/ConfigurationLoader.cs
  src/SpectabisNext/Services/ContextMenuEnumMapper.cs
  src/SpectabisNext/Services/FileBrowser.cs
  src/SpectabisNext/Services/GifProvider.cs
  src/SpectabisUI/Controls/AnimatedImage/Caching/CacheBuilder.cs
  src/SpectabisUI/Controls/AnimatedImage/Caching/CacheBuilderBase.cs
  src/SpectabisUI/Controls/AnimatedImage/Caching/CacheImpl.cs
  src/SpectabisUI/Controls/AnimatedImage/Caching/ICache`2.cs
  src/SpectabisUI/Controls/AnimatedImage/Caching/XXHash.cs
  src/SpectabisUI/Controls/AnimatedImage/Decoding/GifColor.cs
  src/SpectabisUI/Controls/AnimatedImage/Decoding/GifDecoder.cs
  src/SpectabisUI/Controls/AnimatedImage/Decoding/GifRect.cs
  src/SpectabisUI/Controls/AnimatedImage/GifBackgroundWorker.cs
  src/SpectabisUI/Controls/AnimatedImage/GifInstance.cs
  src/SpectabisUI/Controls/PageIcon/PageIcon.xaml.cs
  src/SpectabisUI/Pages/FirstTimeWizard.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Fix unit test for first time wizard controller
  Tests/Unit/Controllers/FirstTimeWizardTests.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Update pipeline with NET 5.0
  Pipelines/azure-pipelines.yml
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Update azure-pipelines.yml for Azure Pipelines
  Pipelines/azure-pipelines.yml
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Use .NET 5 and 3.1 in CI
  Pipelines/azure-pr-ci.yml
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Use .NET 3 and 5 SDK in desktop client CI
  Pipelines/azure-pipelines.yml
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Set display name for sdk dotnet task
  Pipelines/azure-pipelines.yml
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Add game settings page
  src/SpectabisNext/Services/ContextMenuEnumMapper.cs
  src/SpectabisUI/Enums/GameContextMenuItem.cs
  src/SpectabisUI/Pages/GameLibrary.xaml
  src/SpectabisUI/Pages/GameLibrary.xaml.cs
  src/SpectabisUI/Pages/GameSettings.xaml
  src/SpectabisUI/Pages/GameSettings.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Initial work for game settings menu
  src/SpectabisLib/Interfaces/Controllers/IGameLibraryController.cs
  src/SpectabisLib/Interfaces/Services/IGameConfigurationService.cs
  src/SpectabisLib/Services/GameConfigurationService.cs
  src/SpectabisLib/SpectabisLib.csproj
  src/SpectabisNext/ComponentConfiguration/AutoFacConfiguration.cs
  src/SpectabisUI/Controllers/GameLibraryController.cs
  src/SpectabisUI/Pages/GameLibrary.xaml
  src/SpectabisUI/Pages/GameLibrary.xaml.cs
  src/SpectabisUI/Pages/GameSettings.xaml
  src/SpectabisUI/Pages/GameSettings.xaml.cs
  src/SpectabisUI/ViewModels/GameSettingsViewModel.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Change profile.json encoding to UTF8
  src/SpectabisLib/Abstractions/ProfileFileSystem.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Build context menu table as dictionary
  src/SpectabisUI/Pages/GameLibrary.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Set label to for config profile name
  src/SpectabisUI/Controllers/GameLibraryController.cs
  src/SpectabisUI/Pages/GameSettings.xaml
  src/SpectabisUI/Pages/GameSettings.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Implement popup settings menu
  src/SpectabisLib/Configuration/UIConfig.cs
  src/SpectabisLib/Interfaces/Controllers/IGameLibraryController.cs
  src/SpectabisUI/Controllers/GameLibraryController.cs
  src/SpectabisUI/Pages/GameLibrary.xaml
  src/SpectabisUI/Pages/GameLibrary.xaml.cs
  src/SpectabisUI/Pages/GameSettings.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Rename to initialize profile
  src/SpectabisUI/Controllers/GameLibraryController.cs
  src/SpectabisUI/Pages/GameSettings.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Center title text
  src/SpectabisUI/Pages/GameSettings.xaml
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Add summary for GetConfigureGamePage
  src/SpectabisUI/Controllers/GameLibraryController.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Cleanup
  src/SpectabisUI/Controls/GameTileView/GameTileView.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Update to Avalonia 0.10.3
  src/SpectabisLib/SpectabisLib.csproj
  src/SpectabisNext/SpectabisNext.csproj
  src/SpectabisUI/SpectabisUI.csproj
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Update readme
  README.md
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Ignore case when parsing launch options
  src/SpectabisLib/Helpers/EmulatorOptionsParser.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Add Get Profile by id
  src/SpectabisLib/Interfaces/IProfileRepository.cs
  src/SpectabisLib/Repositories/GameProfileRepository.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Add fullscreen option to game settings
  src/SpectabisUI/Pages/GameSettings.xaml
  src/SpectabisUI/Pages/GameSettings.xaml.cs
  src/SpectabisUI/ViewModels/GameSettingsViewModel.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Set settings view width to 600
  src/SpectabisLib/Configuration/UIConfig.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Path conditions:
  AzurePipelines/build-platform-binary.yaml: any file but: src/SpectabisService
  Pipelines/azure-pr-ci.yml: any file but: docs, Requests, Pipelines/azure-pipelines.yml, Pipelines/azure-pipelines-service.yml
  azure-pipelines-service.yml: any of: src/SpectabisService, src/SpectabisLib, Tests/ServiceTests
  azure-pipelines.yml: any file but: src/SpectabisService, Tests/Integration/ServiceTests, docs, Requests, azure-pipelines-service.yml, azure-pr-ci.yml
