Repository valters-tomsons/spectabis-next: changes, and which Azure pipelines are due for each by the changed paths.
All: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

AzurePipelines/build-platform-binary.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: 'echo "##vso[task.setvariable variable=CommithHash]$(git log --pretty=format:''%h'' -n 1)"
  
      '
  - script: mkdir $ARTIFACTSFOLDER
  - task: UseDotNet@2
    displayName: Install Dotnet SDK
    inputs:
      packageType: sdk
      version: 3.1.101
  ...

Pipelines/azure-pr-ci.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: UseDotNet@2
    inputs:
      packageType: sdk
      version: 3.1.x
  - task: UseDotNet@2
    inputs:
      packageType: sdk
      version: 5.0.x
  - script: dotnet build
    displayName: Build solution
  - script: dotnet test Tests/Unit
    displayName: Run unit tests

azure-pipelines-service.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: mkdir $(ARTIFACTSFOLDER)
  - task: UseDotNet@2
    inputs:
      packageType: sdk
      version: 3.1.101
  - script: dotnet publish src/SpectabisService -c $(CONFIGURATION) -r linux-x64 -o $(ServiceArtifact)
    displayName: Build Service Package
  ...

azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Bash@3
    displayName: Initialize pipeline
    inputs:
      targetType: inline
      script: 'echo "##vso[task.setvariable variable=CommithHash]$(git log --pretty=format:''%h'' -n 1)"
  
        mkdir $ARTIFACTSFOLDER
  
        '
  - task: UseDotNet@2
  ...

Lock discord client creation with semaphore
  src/SpectabisNext/Services/DiscordService.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Fix typo
  src/SpectabisNext/Services/DiscordService.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Initialize semaphore with new()
  src/SpectabisNext/Services/DiscordService.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Consider lifetime for semaphore
  src/SpectabisNext/Services/DiscordService.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Do not use discord user for initialization check
  src/SpectabisNext/Services/DiscordService.cs
  src/SpectabisNext/SpectabisNext.csproj
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Move resources string to constants
  src/SpectabisLib/Constants.cs
  src/SpectabisLib/Helpers/SystemDirectories.cs
  src/SpectabisLib/Services/LocalDatabaseProvider.cs
  src/SpectabisNext/Services/BitmapLoader.cs
  src/SpectabisNext/Services/GifProvider.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Do not enable discord integration by default
  src/SpectabisLib/Configuration/SpectabisConfig.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Simplify discord service
  src/SpectabisLib/Interfaces/Services/IDiscordService.cs
  src/SpectabisNext/Services/DiscordService.cs
  src/SpectabisNext/SpectabisNext.csproj
  src/SpectabisUI/Views/MainWindow.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Remove unused configuration objects
  src/SpectabisLib/Models/Configuration.cs
  src/SpectabisLib/Models/EmulatorProfile.cs
  src/SpectabisLib/Models/SystemPathsStruct.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Increase default window size
  src/SpectabisUI/Views/MainWindow.xaml
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Improve FirstTimeWizard design
  src/SpectabisUI/Pages/FirstTimeWizard.xaml
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Update dependencies
  src/SpectabisLib/SpectabisLib.csproj
  src/SpectabisNext/SpectabisNext.csproj
  src/SpectabisUI/SpectabisUI.csproj
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Update Avalonia to 0.10.7
  src/SpectabisLib/SpectabisLib.csproj
  src/SpectabisNext/SpectabisNext.csproj
  src/SpectabisUI/SpectabisUI.csproj
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Verify suggestedDirectory exists
  src/SpectabisNext/Services/FileBrowser.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Replace dynamic settings json with data model
  src/ServiceLib/Helpers/ServiceCredentialsHelper.cs
  src/ServiceLib/Models/LocalCredentials.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Update Material.Avalonia to 2.3.0
  src/SpectabisNext/SpectabisNext.csproj
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Update TinyCsvParser
  src/SpectabisService/SpectabisService.csproj
Due: Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml

Add additional PCSX2 tests
  Tests/Unit/Services/PCSX2Tests.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Update Avalonia to 0.10.8
  src/SpectabisLib/SpectabisLib.csproj
  src/SpectabisNext/SpectabisNext.csproj
  src/SpectabisUI/SpectabisUI.csproj
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Move ByteSearch to Common library
  spectabis-next.sln
  src/Common/Common.csproj
  src/Common/Utils/ByteSearch.cs
  src/RomParsing/Parsers/BinParser.cs
  src/RomParsing/RomParsing.csproj
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Move Logging helper to Common library
  src/Common/Helpers/Logging.cs
  src/SpectabisLib/Abstractions/ProfileFileSystem.cs
  src/SpectabisLib/Services/CommandLineService.cs
  src/SpectabisLib/Services/GameArtQueue.cs
  src/SpectabisLib/Services/GameConfigurationService.cs
  src/SpectabisLib/Services/GameDirectoryScan.cs
  src/SpectabisLib/Services/GameFileParser.cs
  src/SpectabisLib/Services/GameLauncherPCSX2.cs
  src/SpectabisLib/Services/GameProfileFactory.cs
  src/SpectabisLib/Services/LocalCachingService.cs
  src/SpectabisLib/Services/LocalDatabaseProvider.cs
  src/SpectabisLib/SpectabisLib.csproj
  src/SpectabisNext/Program.cs
  src/SpectabisNext/Services/BitmapLoader.cs
  src/SpectabisNext/Services/ConfigurationManager.cs
  src/SpectabisNext/Services/DiscordService.cs
  src/SpectabisNext/Services/FileBrowser.cs
  src/SpectabisNext/Services/PageNavigator.cs
  src/SpectabisNext/Services/PagePreloader.cs
  src/SpectabisUI/Controllers/GameLibraryController.cs
  src/SpectabisUI/Controls/AnimatedImage/GifInstance.cs
  src/SpectabisUI/Factories/PageFactory.cs
  src/SpectabisUI/Pages/CreateProfile.xaml.cs
  src/SpectabisUI/Pages/GameSettings.xaml.cs
  src/SpectabisUI/Views/MainWindow.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Remove typo library from solution
  spectabis-next.sln
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Add documentation for ByteSearch
  src/Common/Utils/ByteSearch.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Provide MainWindow for file dialogs
  src/SpectabisNext/ComponentConfiguration/AutoFacConfiguration.cs
  src/SpectabisNext/Services/FileBrowser.cs
  src/SpectabisNext/Services/PageNavigator.cs
  src/SpectabisUI/Interfaces/IFileBrowserFactory.cs
  src/SpectabisUI/Interfaces/IPageNavigationProvider.cs
  src/SpectabisUI/Views/MainWindow.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Use GetProfileContainerUriByType
  src/SpectabisLib/Abstractions/ProfileFileSystem.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Add launch PCSX2 to configuration
  src/SpectabisUI/Pages/GameSettings.xaml
  src/SpectabisUI/Pages/GameSettings.xaml.cs
  src/SpectabisUI/ViewModels/GameSettingsViewModel.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Add material icons
  src/SpectabisNext/App.xaml
  src/SpectabisNext/ComponentConfiguration/AvaloniaConfiguration.cs
  src/SpectabisNext/SpectabisNext.csproj
  src/SpectabisUI/SpectabisUI.csproj
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Rework context menu a little
  src/SpectabisNext/Services/ContextMenuEnumMapper.cs
  src/SpectabisUI/Enums/GameContextMenuItem.cs
  src/SpectabisUI/Pages/GameLibrary.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Update SpectabisUI to net5.0
  Tests/Unit/UnitTests.csproj
  src/SpectabisUI/SpectabisUI.csproj
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Add context menu vertical offset
  src/SpectabisUI/Pages/GameLibrary.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Upgrade to Avalonia 0.10.10
  src/SpectabisLib/SpectabisLib.csproj
  src/SpectabisNext/SpectabisNext.csproj
  src/SpectabisUI/SpectabisUI.csproj
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Use GameSettingsController from view model
  src/SpectabisLib/Interfaces/Controllers/IGameSettingsController.cs
  src/SpectabisNext/ComponentConfiguration/AutoFacConfiguration.cs
  src/SpectabisUI/Controllers/GameLibraryController.cs
  src/SpectabisUI/Controllers/GameSettingsController.cs
  src/SpectabisUI/Pages/GameSettings.xaml.cs
  src/SpectabisUI/ViewModels/GameSettingsViewModel.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Upgrade to .NET 6
  .vscode/launch.json
  src/SpectabisNext/SpectabisNext.csproj
  src/SpectabisUI/SpectabisUI.csproj
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Upgrade CI to .NET 6
  Pipelines/azure-pipelines.yml
  Pipelines/azure-pr-ci.yml
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Upgrade unit tests to NET 6
  Tests/Unit/UnitTests.csproj
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Upgrade Material.Avalonia
  src/SpectabisNext/SpectabisNext.csproj
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Upgrade Autofac to 5.2
  src/SpectabisNext/SpectabisNext.csproj
  src/SpectabisUI/SpectabisUI.csproj
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Update service to .NET 6 + dependencies
  Tests/Integration/ServiceTests/ServiceTests.csproj
  src/SpectabisService/SpectabisService.csproj
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml

Update docs and .vscode to dotnet references
  docs/run-service-locally.md
  src/SpectabisService/.vscode/tasks.json
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml

Path conditions:
  AzurePipelines/build-platform-binary.yaml: any file but: src/SpectabisService
  Pipelines/azure-pr-ci.yml: any file but: docs, Requests, Pipelines/azure-pipelines.yml, Pipelines/azure-pipelines-service.yml
  azure-pipelines-service.yml: any of: src/SpectabisService, src/SpectabisLib, Tests/ServiceTests
  azure-pipelines.yml: any file but: src/SpectabisService, Tests/Integration/ServiceTests, docs, Requests, azure-pipelines-service.yml, azure-pr-ci.yml
