Repository valters-tomsons/spectabis-next: changes, and which Azure pipelines are due for each by the changed paths.
All: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

AzurePipelines/build-platform-binary.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - bash: 'echo "##vso[task.setvariable variable=CommithHash]$(git log --pretty=format:''%h'' -n 1)"
  
      '
  - script: mkdir $ARTIFACTSFOLDER
  - task: UseDotNet@2
    displayName: Install Dotnet SDK
    inputs:
      packageType: sdk
      version: 3.1.101
  ...

Pipelines/azure-pr-ci.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: UseDotNet@2
    inputs:
      packageType: sdk
      version: 3.1.x
  - task: UseDotNet@2
    inputs:
      packageType: sdk
      version: 6.0.x
  - script: dotnet build
    displayName: Build solution
  - script: dotnet test Tests/Unit
    displayName: Run unit tests

azure-pipelines-service.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: mkdir $(ARTIFACTSFOLDER)
  - task: UseDotNet@2
    inputs:
      packageType: sdk
      version: 3.1.101
  - script: dotnet publish src/SpectabisService -c $(CONFIGURATION) -r linux-x64 -o $(ServiceArtifact)
    displayName: Build Service Package
  ...

azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Bash@3
    displayName: Initialize pipeline
    inputs:
      targetType: inline
      script: 'echo "##vso[task.setvariable variable=CommithHash]$(git log --pretty=format:''%h'' -n 1)"
  
        mkdir $ARTIFACTSFOLDER
  
        '
  - task: UseDotNet@2
  ...

Check if serial is null
  src/SpectabisService/Providers/GameArtProvider.cs
Due: Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml

Enable Nullability for service and SpectabisLib
  src/SpectabisLib/Interfaces/Services/IGameArtClient.cs
  src/SpectabisLib/Interfaces/Services/IGameDatabaseProvider.cs
  src/SpectabisLib/SpectabisLib.csproj
  src/SpectabisService/Abstractions/AzureStorageProvider.cs
  src/SpectabisService/Abstractions/Interfaces/IStorageProvider.cs
  src/SpectabisService/Models/MetadataStorageFile.cs
  src/SpectabisService/Services/CloudDatabaseProvider.cs
  src/SpectabisService/Services/ContentDownloader.cs
  src/SpectabisService/Services/GiantBombClient.cs
  src/SpectabisService/Services/Interfaces/IContentDownloader.cs
  src/SpectabisService/SpectabisService.csproj
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Return NotFound when game is not found
  Tests/Integration/ServiceTests/GetGameBoxArtTest.cs
  src/SpectabisService/Providers/GameArtProvider.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml

Remove dotnet 3.1 from pipelines
  Pipelines/azure-pipelines-service.yml
  Pipelines/azure-pipelines.yml
  Pipelines/azure-pr-ci.yml
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Remove ARM templates
  Infrastructure/DesktopTelemetry.json
  Infrastructure/ServiceFunctionApp.json
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Update README
  README.md
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Enable Nullability for tests
  Tests/Integration/ServiceTests/ServiceTests.csproj
  Tests/Unit/UnitTests.csproj
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Fix nullability warnings in SpectabisLib
  Tests/Integration/ServiceTests/GetGameBoxArtTest.cs
  src/SpectabisLib/Abstractions/GameProcess.cs
  src/SpectabisLib/Abstractions/ProfileFileSystem.cs
  src/SpectabisLib/Enums/GameCompatibility.cs
  src/SpectabisLib/Helpers/SystemDirectories.cs
  src/SpectabisLib/Interfaces/Abstractions/IGameProcess.cs
  src/SpectabisLib/Interfaces/Abstractions/IProfileFileSystem.cs
  src/SpectabisLib/Interfaces/Services/IGameFileParser.cs
  src/SpectabisLib/Interfaces/Services/IGameLauncher.cs
  src/SpectabisLib/Interfaces/Services/ILocalCachingService.cs
  src/SpectabisLib/Interfaces/Services/IProfileFactory.cs
  src/SpectabisLib/Models/GameMetadata.cs
  src/SpectabisLib/Models/GameProfile.cs
  src/SpectabisLib/Models/ProfileConfiguration.cs
  src/SpectabisLib/Repositories/GameProfileRepository.cs
  src/SpectabisLib/Services/GameArtQueue.cs
  src/SpectabisLib/Services/GameFileParser.cs
  src/SpectabisLib/Services/GameLauncherPCSX2.cs
  src/SpectabisLib/Services/GameProfileFactory.cs
  src/SpectabisLib/Services/LocalCachingService.cs
  src/SpectabisLib/Services/LocalDatabaseProvider.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Fix issues introduced by nullability
  src/SpectabisLib/Interfaces/Services/IGameDatabaseProvider.cs
  src/SpectabisLib/Repositories/GameProfileRepository.cs
  src/SpectabisLib/Services/GameProfileFactory.cs
  src/SpectabisLib/Services/LocalDatabaseProvider.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Enable and fix nullability in libraries
  Tests/Integration/ServiceTests/GetGameBoxArtTest.cs
  src/Common/Common.csproj
  src/Common/Helpers/Logging.cs
  src/EmuConfig/Abstractions/IniConfiguration.cs
  src/EmuConfig/EmuConfig.csproj
  src/FileIntrinsics/FileIntrinsics.csproj
  src/FileIntrinsics/Interfaces/IIntrinsicsProvider.cs
  src/FileIntrinsics/IntrinsicsProvider.cs
  src/RomParsing/IParser.cs
  src/RomParsing/Parsers/BinParser.cs
  src/RomParsing/Parsers/FakeParser.cs
  src/RomParsing/Parsers/IsoParser.cs
  src/RomParsing/RomParsing.csproj
  src/ServiceLib/Interfaces/IRestClient.cs
  src/ServiceLib/Interfaces/ISpectabisClient.cs
  src/ServiceLib/Models/LocalCredentials.cs
  src/ServiceLib/Models/RestResponse.cs
  src/ServiceLib/ServiceLib.csproj
  src/ServiceLib/Services/RestClient.cs
  src/ServiceLib/Services/SpectabisClient.cs
  src/ServiceLib/Services/Telemetry.cs
  src/SpectabisLib/Repositories/GameProfileRepository.cs
  src/SpectabisLib/Services/GameArtQueue.cs
  src/SpectabisLib/Services/GameProfileFactory.cs
  src/SpectabisService/Services/CloudDatabaseProvider.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Write default configuration when creating new profile
  src/SpectabisLib/Repositories/GameProfileRepository.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Use GS.ini for graphics configuration
  src/SpectabisLib/Services/GameConfigurationService.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Fix test namespaces
  Tests/Integration/ServiceTests/GetGameBoxArtTest.cs
  Tests/Unit/Controllers/FirstTimeWizardTests.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Remove CodeQL
  .github/workflows/codeql-analysis.yml
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Update .ignore files
  .dockerignore
  .gitignore
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Use docker url for service if running in docker
  Tests/Integration/ServiceTests/GetGameBoxArtTest.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml

Add docker-compose
  docker-compose.yml
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Run docker integration tests in service CI
  Pipelines/azure-pipelines-service.yml
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Do not run docker in CI just yet
  Pipelines/azure-pipelines-service.yml
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Revert api url changes
  Tests/Integration/ServiceTests/GetGameBoxArtTest.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml

Build service from Dockerfile
  docker-compose.yml
  docker/SpectabisService/Dockerfile
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Add PCSX2 database to docker service
  docker-compose.yml
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Cleanup README
  README.md
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Add Azurite info
  docs/run-service-locally.md
Due: AzurePipelines/build-platform-binary.yaml

Style fix
  src/SpectabisLib/Services/GameArtQueue.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Remove comments
  src/SpectabisUI/Interfaces/IPage.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Add modal
  src/SpectabisLib/Interfaces/Services/IModalService.cs
  src/SpectabisNext/ComponentConfiguration/AutoFacConfiguration.cs
  src/SpectabisNext/Services/ModalService.cs
  src/SpectabisUI/Pages/GameLibrary.xaml.cs
  src/SpectabisUI/ViewModels/MainWindowViewModel.cs
  src/SpectabisUI/ViewModels/ModalDialogViewModel.cs
  src/SpectabisUI/Views/MainWindow.xaml
  src/SpectabisUI/Views/MainWindow.xaml.cs
  src/SpectabisUI/Views/ModalDialog.xaml
  src/SpectabisUI/Views/ModalDialog.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Style fixes
  docker-compose.yml
  docs/run-service-locally.md
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Undefined to Automatic GSRenderer type
  src/EmuConfig/Enums/GSRendererType.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Add GSRendererType:Vulkan
  src/EmuConfig/Enums/GSRendererType.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Update dependencies
  src/RomParsing/RomParsing.csproj
  src/ServiceLib/ServiceLib.csproj
  src/SpectabisLib/SpectabisLib.csproj
  src/SpectabisNext/SpectabisNext.csproj
  src/SpectabisService/SpectabisService.csproj
  src/SpectabisUI/SpectabisUI.csproj
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Default secrets to empty strings
  src/ServiceLib/Helpers/ServiceCredentialsHelper.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Use correct rootWindow for directory browser
  src/SpectabisNext/Services/FileBrowser.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Set directory background to gray
  src/SpectabisUI/Pages/CreateProfile.xaml.cs
  src/SpectabisUI/Pages/Settings.xaml
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Add material design to all pages
  src/SpectabisUI/Pages/CreateProfile.xaml
  src/SpectabisUI/Pages/FirstTimeWizard.xaml
  src/SpectabisUI/Pages/GameLibrary.xaml
  src/SpectabisUI/Pages/GameRunning.xaml
  src/SpectabisUI/Pages/Settings.xaml
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Update pcsx2 executable name
  src/SpectabisLib/Helpers/SystemDirectories.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Path conditions:
  AzurePipelines/build-platform-binary.yaml: any file but: src/SpectabisService
  Pipelines/azure-pr-ci.yml: any file but: docs, Requests, Pipelines/azure-pipelines.yml, Pipelines/azure-pipelines-service.yml
  azure-pipelines-service.yml: any of: src/SpectabisService, src/SpectabisLib, Tests/ServiceTests
  azure-pipelines.yml: any file but: src/SpectabisService, Tests/Integration/ServiceTests, docs, Requests, azure-pipelines-service.yml, azure-pr-ci.yml
