Repository valters-tomsons/spectabis-next: changes, and which Azure pipelines are due for each by the changed paths.
All: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Path conditions:
  AzurePipelines/build-platform-binary.yaml: any file but: src/SpectabisService
  Pipelines/azure-pr-ci.yml: any file but: docs, Requests, Pipelines/azure-pipelines.yml, Pipelines/azure-pipelines-service.yml
  azure-pipelines-service.yml: any of: src/SpectabisService, src/SpectabisLib, Tests/ServiceTests
  azure-pipelines.yml: any file but: src/SpectabisService, Tests/Integration/ServiceTests, docs, Requests, azure-pipelines-service.yml, azure-pr-ci.yml

Add reactive library blankout for settings view
  src/SpectabisUI/Pages/GameLibrary.xaml
  src/SpectabisUI/Pages/GameLibrary.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Read and write GSdx resolution
  src/EmuConfig/IniParser.cs
  src/EmuConfig/Interfaces/IConfigParser.cs
  src/SpectabisLib/Abstractions/ProfileFileSystem.cs
  src/SpectabisLib/Interfaces/Services/IGameConfigurationService.cs
  src/SpectabisLib/Models/ProfileConfiguration.cs
  src/SpectabisLib/Services/GameConfigurationService.cs
  src/SpectabisNext/ComponentConfiguration/AutoFacConfiguration.cs
  src/SpectabisUI/Pages/GameSettings.xaml
  src/SpectabisUI/Pages/GameSettings.xaml.cs
  src/SpectabisUI/ViewModels/GameSettingsViewModel.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Implement local art caching
  src/SpectabisLib/Helpers/SystemDirectories.cs
  src/SpectabisLib/Interfaces/Services/ILocalCachingService.cs
  src/SpectabisLib/Services/GameArtQueue.cs
  src/SpectabisLib/Services/LocalCachingService.cs
  src/SpectabisNext/ComponentConfiguration/AutoFacConfiguration.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Remove faulty file version checking
  src/SpectabisNext/Spectabis.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Use build artifact task
  Pipelines/azure-pipelines.yml
Due: AzurePipelines/build-platform-binary.yaml, azure-pipelines.yml

Add pipelines readme
  Pipelines/README.md
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Do not show GSDx configuration if not available
  src/SpectabisUI/Pages/GameSettings.xaml
  src/SpectabisUI/Pages/GameSettings.xaml.cs
  src/SpectabisUI/ViewModels/GameSettingsViewModel.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

[Telemetry] Ignore exceptions if debugger attached
  src/ServiceLib/Services/Telemetry.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

TryGet gif instance before disposing
  src/SpectabisNext/Services/GifProvider.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Catch when deleted game downloads art
  src/SpectabisLib/Abstractions/ProfileFileSystem.cs
  src/SpectabisUI/Pages/GameLibrary.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Catch exception when enumeration game files
  src/SpectabisLib/Services/GameDirectoryScan.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Update Avalonia to 0.10.4
  src/SpectabisLib/SpectabisLib.csproj
  src/SpectabisNext/SpectabisNext.csproj
  src/SpectabisUI/SpectabisUI.csproj
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Update DiscUtils to ci0009
  src/RomParsing/RomParsing.csproj
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Increase boxart size and spacing
  src/SpectabisLib/Configuration/UIConfig.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Dynamically allocate parsers
  src/RomParsing/IParser.cs
  src/RomParsing/Parsers/BinParser.cs
  src/RomParsing/Parsers/FakeParser.cs
  src/RomParsing/Parsers/IsoParser.cs
  src/RomParsing/RomParsing.csproj
  src/SpectabisLib/Services/GameFileParser.cs
  src/SpectabisNext/ComponentConfiguration/AutoFacConfiguration.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Fix styling
  src/ServiceLib/Helpers/ServiceCredentialsHelper.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Update Autofac to 5.1.4
  src/SpectabisNext/SpectabisNext.csproj
  src/SpectabisUI/SpectabisUI.csproj
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Update Avalonia to 0.10.6
  src/SpectabisLib/SpectabisLib.csproj
  src/SpectabisNext/SpectabisNext.csproj
  src/SpectabisUI/SpectabisUI.csproj
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Remove dependency on Roboto font
  src/SpectabisUI/Pages/CreateProfile.xaml
  src/SpectabisUI/Pages/FirstTimeWizard.xaml
  src/SpectabisUI/Pages/Settings.xaml
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Fix typo
  src/SpectabisUI/Views/MainWindow.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Use Material.Avalonia dark theme
  src/SpectabisNext/App.xaml
  src/SpectabisNext/SpectabisNext.csproj
  src/SpectabisUI/Views/MainWindow.xaml
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Refactor GameProcess
  src/SpectabisLib/Abstractions/GameProcess.cs
  src/SpectabisLib/Interfaces/Abstractions/IGameProcess.cs
  src/SpectabisLib/Interfaces/Services/IGameLauncher.cs
  src/SpectabisLib/Services/GameLauncherPCSX2.cs
  src/SpectabisUI/Pages/GameRunning.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Add test for game launch
  Tests/Unit/Services/PCSX2Tests.cs
  Tests/Unit/UnitTests.csproj
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Add data for unit tests
  Tests/Unit/TestData/PCSX2Stub
  Tests/Unit/TestData/game.fake
  Tests/Unit/UnitTests.csproj
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Implement IProfileFileSystem
  src/SpectabisLib/Abstractions/ProfileFileSystem.cs
  src/SpectabisLib/Interfaces/Abstractions/IProfileFileSystem.cs
  src/SpectabisLib/Repositories/GameProfileRepository.cs
  src/SpectabisLib/Services/GameArtQueue.cs
  src/SpectabisLib/Services/GameConfigurationService.cs
  src/SpectabisLib/Services/GameLauncherPCSX2.cs
  src/SpectabisNext/ComponentConfiguration/AutoFacConfiguration.cs
  src/SpectabisNext/Services/BitmapLoader.cs
  src/SpectabisUI/Controllers/FirstTimeWizardController.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Add unit test for PCSX2 launching
  Tests/Unit/Helpers/UnixOnlyFactAttribute.cs
  Tests/Unit/Services/PCSX2Tests.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Update skip message
  Tests/Unit/Helpers/UnixOnlyFactAttribute.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Add CommandLineService
  src/SpectabisLib/Interfaces/Services/ICommandLineService.cs
  src/SpectabisLib/Services/CommandLineService.cs
  src/SpectabisNext/ComponentConfiguration/AutoFacConfiguration.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Read profiles from disk automatically first time
  src/SpectabisLib/Interfaces/Controllers/IGameLibraryController.cs
  src/SpectabisLib/Interfaces/IProfileRepository.cs
  src/SpectabisLib/Interfaces/Services/IGameConfigurationService.cs
  src/SpectabisLib/Repositories/GameProfileRepository.cs
  src/SpectabisLib/Services/GameConfigurationService.cs
  src/SpectabisLib/Services/GameDirectoryScan.cs
  src/SpectabisUI/Controllers/GameLibraryController.cs
  src/SpectabisUI/Pages/GameLibrary.xaml.cs
  src/SpectabisUI/Pages/GameSettings.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Add argument to launch profile directly
  src/SpectabisLib/Repositories/GameProfileRepository.cs
  src/SpectabisLib/Services/CommandLineService.cs
  src/SpectabisNext/Program.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Add summary for ExecuteArguments
  src/SpectabisLib/Services/CommandLineService.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Update README.md
  README.md
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Fix default configuration not copying properly
  src/SpectabisLib/Repositories/GameProfileRepository.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Add null check for gamelist
  src/SpectabisLib/Repositories/GameProfileRepository.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Add unit tests for profile repository
  Tests/Unit/Services/ProfileRepoTests.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Reconsider ProfileFileSystem method names
  Tests/Unit/Services/PCSX2Tests.cs
  Tests/Unit/Services/ProfileRepoTests.cs
  src/SpectabisLib/Abstractions/ProfileFileSystem.cs
  src/SpectabisLib/Interfaces/Abstractions/IProfileFileSystem.cs
  src/SpectabisLib/Repositories/GameProfileRepository.cs
  src/SpectabisLib/Services/GameArtQueue.cs
  src/SpectabisLib/Services/GameConfigurationService.cs
  src/SpectabisLib/Services/GameLauncherPCSX2.cs
  src/SpectabisNext/Services/BitmapLoader.cs
  src/SpectabisUI/Controllers/FirstTimeWizardController.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Rename integration tests
  Tests/Integration/ServiceTests/GetGameBoxArtTest.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml

Rename to ConfigurationManager
  src/SpectabisNext/Services/ConfigurationManager.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Mark ComVisible false
  src/SpectabisNext/ComponentConfiguration/AutoFacConfiguration.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Null checks and exception handling
  src/SpectabisNext/Services/BitmapLoader.cs
  src/SpectabisNext/Services/DiscordService.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml
