Repository valters-tomsons/spectabis-next: changes, and which Azure pipelines are due for each by the changed paths.
All: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Path conditions:
  AzurePipelines/build-platform-binary.yaml: any file but: src/SpectabisService
  Pipelines/azure-pr-ci.yml: any file but: docs, Requests, Pipelines/azure-pipelines.yml, Pipelines/azure-pipelines-service.yml
  azure-pipelines-service.yml: any of: src/SpectabisService, src/SpectabisLib, Tests/ServiceTests
  azure-pipelines.yml: any file but: src/SpectabisService, Tests/Integration/ServiceTests, docs, Requests, azure-pipelines-service.yml, azure-pr-ci.yml

Add CONTRIBUTING
  CONTRIBUTING.md
  docs/sharing-logs.md
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Update to Avalonia 0.10.0
  src/SpectabisLib/SpectabisLib.csproj
  src/SpectabisNext/SpectabisNext.csproj
  src/SpectabisUI/SpectabisUI.csproj
  src/SpectabisUI/Views/MainWindow.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Use WriteableBitmap with AlphaFormat
  src/SpectabisUI/Controls/AnimatedImage/GifInstance.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Use Light Fluent theme
  src/SpectabisNext/App.xaml
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Remove unused imports
  src/SpectabisUI/Pages/GameRunning.xaml.cs
  src/SpectabisUI/ViewModels/GameTileViewModel.cs
  src/SpectabisUI/Views/MainWindow.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Update libraries to .NET Standard 2.1
  src/ServiceClient/ServiceClient.csproj
  src/SpectabisLib/Services/LocalDatabaseProvider.cs
  src/SpectabisLib/SpectabisLib.csproj
  src/SpectabisUI/SpectabisUI.csproj
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Replace async file operation with built-in methods
  src/SpectabisLib/Helpers/AsyncIOHelper.cs
  src/SpectabisLib/Services/ProfileFileSystem.cs
  src/SpectabisNext/Services/ConfigurationLoader.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Remove hardcoded background color
  src/SpectabisLib/Configuration/UIConfig.cs
  src/SpectabisUI/Views/MainWindow.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Use platforms path directory seperator
  src/SpectabisLib/Helpers/Logging.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Attach Avalonia dev tools in DEBUG
  src/SpectabisUI/SpectabisUI.csproj
  src/SpectabisUI/Views/MainWindow.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Remove game population from constructor
  src/SpectabisUI/Pages/GameLibrary.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

[vscode] Disable just my code
  .vscode/launch.json
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

[vscode] Disable moduleLoad messages
  .vscode/launch.json
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

[Telemetry] Use in-memory channel
  src/ServiceClient/ServiceClient.csproj
  src/ServiceClient/Services/Telemetry.cs
  src/SpectabisUI/Pages/CreateProfile.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Clean-up missed exception
  src/ServiceClient/ServiceClient.csproj
  src/ServiceClient/Services/Telemetry.cs
  src/SpectabisUI/Pages/CreateProfile.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

[Telemetry] Rename Enable to Initialize
  src/ServiceClient/Interfaces/ITelemetry.cs
  src/ServiceClient/Services/Telemetry.cs
  src/SpectabisUI/Views/MainWindow.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Rename FileType to GameFileType
  src/FileIntrinsics/Enums/GameFileType.cs
  src/FileIntrinsics/Interfaces/IHeaderSignature.cs
  src/FileIntrinsics/Signatures/CD_I.cs
  src/FileIntrinsics/Signatures/CISOImage.cs
  src/FileIntrinsics/Signatures/CueDescription.cs
  src/FileIntrinsics/Signatures/FakeImage.cs
  src/FileIntrinsics/Signatures/GZip.cs
  src/FileIntrinsics/Signatures/ISO9660.cs
  src/SpectabisLib/Services/GameFileParser.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Add telemetry tracking failed game art downloads
  src/ServiceClient/Enums/ClientOperation.cs
  src/ServiceClient/Interfaces/ITelemetry.cs
  src/ServiceClient/Services/RestClient.cs
  src/ServiceClient/Services/SpectabisClient.cs
  src/ServiceClient/Services/Telemetry.cs
  src/SpectabisLib/Services/GameArtQueue.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Send and flush failures properly
  src/ServiceClient/Interfaces/ITelemetry.cs
  src/ServiceClient/Services/Telemetry.cs
  src/SpectabisNext/Program.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Fix crash when download fails
  src/SpectabisLib/Services/GameArtQueue.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Add JFIF validation
  src/ServiceClient/Services/SpectabisClient.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Fixes exception when multiple file matches exist
  src/SpectabisLib/Services/GameDirectoryScan.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Separate cfgpath argument with equals sign
  src/SpectabisLib/Helpers/EmulatorOptionsParser.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Rename ServiceClient to ServiceLib
  Pipelines/azure-pipelines.yml
  Tests/Integration/ServiceTests/GetGameBoxArtTest.cs
  spectabis-next.sln
  src/ServiceLib/Enums/ClientOperation.cs
  src/ServiceLib/Helpers/ServiceCredentialsHelper.cs
  src/ServiceLib/Interfaces/IRestClient.cs
  src/ServiceLib/Interfaces/ISpectabisClient.cs
  src/ServiceLib/Interfaces/ITelemetry.cs
  src/ServiceLib/Models/RestResponse.cs
  src/ServiceLib/ServiceLib.csproj
  src/ServiceLib/Services/RestClient.cs
  src/ServiceLib/Services/SpectabisClient.cs
  src/ServiceLib/Services/Telemetry.cs
  src/SpectabisLib/Services/GameArtQueue.cs
  src/SpectabisLib/SpectabisLib.csproj
  src/SpectabisNext/ComponentConfiguration/AutoFacConfiguration.cs
  src/SpectabisNext/Program.cs
  src/SpectabisNext/SpectabisNext.csproj
  src/SpectabisUI/Views/MainWindow.xaml.cs
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Change service endpoint to query type
  src/ServiceLib/Constants/Endpoints.cs
  src/ServiceLib/Services/SpectabisClient.cs
  src/SpectabisService/Endpoints/GetGameBoxArt.cs
  src/SpectabisService/SpectabisService.csproj
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml, azure-pipelines.yml

Use strongly typed endpoint in integration tests
  Tests/Integration/ServiceTests/GetGameBoxArtTest.cs
  Tests/Integration/ServiceTests/ServiceTests.csproj
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml

Rename class to GetArtBySerial
  src/SpectabisService/Endpoints/GetArtBySerial.cs
Due: Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml

Reconsider DI service lifetimes
  src/SpectabisService/Startup.cs
Due: Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml

Move storage initalization to GameArtService
  src/SpectabisService/Abstractions/AzureStorageProvider.cs
  src/SpectabisService/Abstractions/Interfaces/IStorageProvider.cs
  src/SpectabisService/Providers/GameArtProvider.cs
Due: Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml

Make InitializeDb public
  src/SpectabisService/Abstractions/StorageProvider.cs
Due: Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml

Remove redundant StorageProvider
  src/SpectabisService/Abstractions/StorageProvider.cs
Due: Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml

Add ConfigureAwait(false) to initialization
  src/SpectabisService/Providers/GameArtProvider.cs
Due: Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml

Add script for iterating PS2 library
  .gitignore
  Scripts/DumpDatabase.ps1
Due: AzurePipelines/build-platform-binary.yaml, Pipelines/azure-pr-ci.yml, azure-pipelines.yml

Add ApplicationInsights dependency
  src/SpectabisService/SpectabisService.csproj
  src/SpectabisService/host.json
Due: Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml

Validate GiantBomb API connections
  src/SpectabisService/Providers/GameArtProvider.cs
  src/SpectabisService/Services/ContentDownloader.cs
Due: Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml

Update request HTTP file
  Requests/GetBoxArtFromService.http
Due: AzurePipelines/build-platform-binary.yaml

Move service registration to extension
  src/SpectabisService/Extensions/DependencyInjection.cs
  src/SpectabisService/Startup.cs
Due: Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml

Remove redundant telemetry
  src/SpectabisService/Startup.cs
Due: Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml

Check GiantBomb query results before proceeding
  src/SpectabisService/Services/GiantBombClient.cs
Due: Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml

Check if GiantBomb platform list is not null
  src/SpectabisService/Services/GiantBombClient.cs
Due: Pipelines/azure-pr-ci.yml, azure-pipelines-service.yml
